<div id="<%= dom_id destination %>">
  <p>
    <strong>Pseudo:</strong>
    <%= destination.pseudo %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= destination.date %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= destination.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= destination.longitude %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= destination.message %>
  </p>

</div>
