<%= form_with(model: destination) do |form| %>
  <% if destination.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
        <% destination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="d-flex flex-column justify-content-center align-items-center m_de_batard">

  <div class="form-label">
    <%= form.label :pseudo, style: "display: block" %>
    <%= form.text_field :pseudo %>
  </div>

  <div class="form-label">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div class="form-label">
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div class="form-label">
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div class="form-label">
    <%= form.label :commentaire, style: "display: block"%>
    <%= form.text_area :message %>
  </div>

  <div>
    <%= form.submit "Nouvelle destination",:input_html =>{:class => "create"} %>
  </div>

</div>
<% end %>
